@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



/* shared styles */
.flex{
    display: flex;
}
.btn-primary{
    padding: 10px 30px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-radius: 9px;
    border: none;
}




/* Navbar releted styles  */
#hr-1{
    visibility: hidden;
}
.nav-container{
    /* max-height: 62px; */
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
    justify-content: space-between ;
    align-items: center;

}
.nav-container-1{
   
    /* justify-items: space-between ; */
    align-items: center;
    gap: 10px;
}

.nav-container-1 .nav-logo{
    height: 100%;
}
.nav-container-1 .nav-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav-container-2{
    /* justify-content: space-between ; */
    gap: 15px;
}

.nav-link a{
    /* color: red; */
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;

}
.nav-1 a{
    color: orange;
}
.nav-2 a{
    color: rgba(130, 207, 238, 0.945);
}
.nav-3 a{
    color: rgba(5, 212, 223, 1);
}
.nav-4 a{
    color: rgba(93, 88, 239, 1);
}


.nav-container-3{
    /* justify-content: space-between ; */
    /* margin-right: 20px; */
}
.btn-1{
    background-color: Orange;
}
.fa-solid{
    visibility: hidden;
}
.nav-container-x{
    visibility: hidden;
}
/* hero section related styles */

.hero{
    width: 80%;
    /* border: 1px solid #ca2d2d; */
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;

}
.hero-left{
    margin-right: 50px;
}
.hero-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.hero-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.603);

}
.btn-2{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}


/* main  */
main{
    background-image: url('../assets/bg.png');

}

/* curriculum section releted styles */
.curriculum{
    text-align: center;
}
.curriculum-title-x{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 30px;
}
.curriculum-container{
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}
.curriculum-x{
    /* width: 367px;
    height: 476px; */
    width: calc(33.33% - 40px);
    height: 500px;
    /* border: 1px solid rgba(30, 255, 0, 0.459); */
    border-radius: 20px;
}
.curriculum-1{
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background: linear-gradient(180deg, #def5ffe3, white);
}
.curriculum-2{
    background: linear-gradient(180deg, #FFF4DC, white);

}
.curriculum-3{
    background: linear-gradient(180deg, #F2E8FF, white);

}
.curriculum-img{
    margin-top: 30px;
}
.curriculum-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
}
.curriculum-description{
    color: rgba(128, 128, 128, 1);
    padding: 40px;
}
.more{
    font-weight: bold;
    font-size: 1.1rem;
}
.more-1{
    color: #64C8FF;
}
.more-2{
    color: #F0AA00;
}
.more-3{
    color: #8700FF;
}
.arrow-container{
    display: flex;
    height: 40px;
    width: 20%;
    margin: 20px auto;
}
.arrow-left img, .arrow-right img{
    width: 50%;
    margin-bottom: 40px;
}



/* responsive for mobile  */


@media only screen and (max-width: 576px) {
    /* navbar releted style  */
    .nav-container{
        /* visibility: hidden; */
        display: none;
    }
    .nav-container-x{
        visibility: visible;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .fa-solid{
        visibility: visible;
    }

      
    #hr-1{
        height: 1px;
        border: none;
        background-color: rgba(240, 160, 63, 0.411);
        visibility: visible;
    }
    
    /* hero section  */

    .hero{
        flex-direction: column-reverse;
        gap: 20px;
        width: 94%;
    }
    .hero-left{
        margin-right: 0;
        /* align-content: center; */
        text-align: center;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-description{
        font-size: 1rem;
    }
    .btn-2{
        margin-top: 30px;
    }
    .hero-right img{
        width: 100%;
    }
    /* Main  */
    /* curriculum section style  */
    .curriculum-container{
        flex-direction: column;
        gap: 20px;
        width: 94%;
    }
    .curriculum-x{
        width: 100%;
        height: auto;
    }
    .curriculum-title-x{
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .arrow-container{
        display: none;
    }
}