@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}


/* shared styles */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.btn-primary{
    padding: 10px 30px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-radius: 18px;
    border: none;
}
.btn-secondary{
    padding: 10px 30px;
    font-size: .8rem;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    border: none;
}




/* Navbar releted styles  */
#hr-1{
    visibility: hidden;
}
.nav-container{
    /* max-height: 62px; */
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
    justify-content: space-between ;
    align-items: center;

}
.nav-container-1{
   
    /* justify-items: space-between ; */
    align-items: center;
    gap: 10px;
}

.nav-container-1 .nav-logo{
    height: 100%;
}
.nav-container-1 .nav-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav-container-2{
    /* justify-content: space-between ; */
    gap: 15px;
}

.nav-link a{
    /* color: red; */
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;

}
.nav-1 a{
    color: orange;
}
.nav-2 a{
    color: rgba(130, 207, 238, 0.945);
}
.nav-3 a{
    color: rgba(5, 212, 223, 1);
}
.nav-4 a{
    color: rgba(93, 88, 239, 1);
}


.nav-container-3{
    /* justify-content: space-between ; */
    /* margin-right: 20px; */
}
.btn-1{
    background-color: Orange;
}
.fa-solid{
    visibility: hidden;
}
.nav-container-x{
    visibility: hidden;
}
/* hero section related styles */

.hero{
    width: 80%;
    /* border: 1px solid #ca2d2d; */
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;

}
.hero-left{
    margin-right: 50px;
}
.hero-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 40px 0;
}
.hero-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.603);
    margin-bottom: 50px;

}
.btn-2{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}


/* main  */
main{
    /* background-image: url('../assets/bg.png'); */
    background-image: url('../assets/bg.png'), linear-gradient(0deg, #eba12056, #FFFFFF);
    /* background: linear-gradient(0deg, #FEA301, #FFFFFF); */

}

/* curriculum section releted styles */
.curriculum{
    text-align: center;
}
.curriculum-title-x{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 80px;
}
.curriculum-container{
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}
.curriculum-x{
    /* width: 367px;
    height: 476px; */
    width: calc(33.33% - 40px);
    height: 500px;
    /* border: 1px solid rgba(30, 255, 0, 0.459); */
    border-radius: 20px;
}
.curriculum-1{
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background: linear-gradient(180deg, #def5ffe3, white);
}
.curriculum-2{
    background: linear-gradient(180deg, #FFF4DC, white);

}
.curriculum-3{
    background: linear-gradient(180deg, #F2E8FF, white);

}
.curriculum-img{
    margin-top: 30px;
}
.curriculum-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
}
.curriculum-description{
    color: rgba(128, 128, 128, 1);
    padding: 40px;
}
.more{
    font-weight: bold;
    font-size: 1.1rem;
}
.more-1{
    color: #64C8FF;
}
.more-2{
    color: #F0AA00;
}
.more-3{
    color: #8700FF;
}
.arrow-container{
    display: flex;
    height: 40px;
    width: 20%;
    margin: 50px auto;
    margin-bottom: 70px;
    height: 70px;
}
.arrow-left img, .arrow-right img{
    width: 50%;
    margin-bottom: 80px;
    margin-top: 40px;
}

/* Story section releted styles  */
.story-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;

}
.story-container{
    width: 80%;
    margin: 70px auto 0px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding-bottom: 70px;

}

.story-box{
    /* border: 1px solid black; */
    flex-direction: column;
   border-radius: 20px;
   background-color: white;
   

    
    
}
.story-box img{
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}
.story-box .story-btn-x{
    margin-left: 25px;
    max-width:200px ;
    margin-top: -20px;
}
.story-x-title{
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 25px;
    font-size: 1.25rem;
    font-weight: bold;

}
.story-1{
    grid-row: span 2;
    grid-column: span 2;


}
.story-1 > .story-x-title{
    font-size: 2rem;
    font-weight: bold;
    padding-right: 60px;
}
.story-1 > .story-x-description{
    font-size: 1.3rem;
    padding-right: 50px;
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.507);

}
.story-btn-1{
    background-color: #3CD8E8;
}
.story-btn-2{
    background-color: #95B226;
}
.story-btn-3{
    background-color: #5D58F0;
}
.story-btn-4{
    background-color: #95B226;
}
.story-btn-5{
    background-color: #95B226;

}
.view-btn-container{
    text-align: center;
    padding-bottom:40px;
}
.view-btn{
    background-color: black;
}



/* Footer section releted styles */


footer{
    background-color: #01adfde1;
    padding: 70px 0 70px 0;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    
    

}
.footer-left{
    
}
.brand-container{
    display: flex;
    align-items: center;
    
}
.footer-title{
    color: white;
    font-size: 1.6rem;
}
.footer-description{
    color: rgb(255, 255, 255);
    max-width: 55%;
    margin-top: 30px;
    padding-left: 6px;
}

.footer-middle{
    width: 30%;
    
}
.footer-nav{
    color: white;
    font-size: 1.1rem;
    width: 100%;
}
.footer-nav-container{
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    gap: 10px;
}
.footer-nav-container a{
    text-decoration: none;
    color: white;

}

.footer-right{
    width: 30%;
    /* align-items: end; */
    padding-left: 100px;
    
}
.footer-right .nav-link-title{
    color: white;
    margin-bottom: 20px;
}
.footer-right .social-media-container{
    gap: 12px;
    display: flex;
}


/* responsive for mobile  */


@media only screen and (max-width: 576px) {
    /* navbar releted style  */
    .nav-container{
        /* visibility: hidden; */
        display: none;
    }
    .nav-container-x{
        visibility: visible;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .fa-solid{
        visibility: visible;
    }

      
    #hr-1{
        height: 1px;
        border: none;
        background-color: rgba(240, 160, 63, 0.411);
        visibility: visible;
    }
    
    /* hero section  */

    .hero{
        flex-direction: column-reverse;
        gap: 20px;
        width: 94%;
    }
    .hero-left{
        margin-right: 0;
        /* align-content: center; */
        text-align: center;
    }
    .hero-title{
        font-size: 2rem;
        margin-top: 30px;
    }
    .hero-description{
        font-size: 1rem;
        padding: 30px 5px 5px;
    }
    .btn-2{
        margin-top: 30px;
    }
    .hero-right img{
        width: 100%;
    }
    /* Main  */
    /* curriculum section style  */
    .curriculum-container{
        flex-direction: column;
        gap: 20px;
        width: 94%;
    }
    .curriculum-x{
        width: 100%;
        height: auto;
    }
    .curriculum-title-x{
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .arrow-container{
        display: none;
    }
    .more{
        padding-bottom: 30px;
    }
    /* Story section releted styles */
    .story-container{
        grid-template-columns: repeat(2, 1fr);
        width: 94%;
        gap: 10px;
        padding-bottom: 40px;
    }
    .story-1{
        display: none ;
    }
    .story-box{
        /* border: 1px solid black; */
        flex-direction: column;
       border-radius: 20px;
       background-color: white;
        
    }
    .story-box img{
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0 0 ;
    }
    .story-box .story-btn-x{
        margin-left: 13px;
        max-width:100px ;
        font-size: 50%;
        margin-top: -16px;
        padding: 7px 5px;
    }
    .story-x-title{
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 14px;
        font-size: .6rem;
        font-weight: bold;
    }  
    .story-title{
        margin-top: 60px;
    }
    /* footer section releted styles  */
    .footer-container{
        flex-direction: column;
        width: 94%;
    }
    .footer-left{
        margin: 0;
        padding: 0;
    }
    .footer-description{
        
        max-width: 90%;
        margin-bottom: 10px;
    }
    .footer-middle{
        width: 100%;
        padding-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-nav{
        font-size: 1.1rem;
    }
    .footer-nav-container{
        margin-top: 15px;
        gap: 8px;
    }
    .footer-nav-container a{
        text-decoration: none;
        color: rgba(245, 236, 236, 0.849);
    }
    .footer-right{
        width: 100%;
        padding: 0;
    }
    .footer-right .nav-link-title{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
   
}